.container-bg {
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content : center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.3s ease-in-out;
}

.container-modal {
  margin-top: 5vh;
  max-width: 100%;
  min-width: 60%;
  background-color : #FFF;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 100px;
  box-shadow: 0px 5px 105px #AAA;
  transition: all 0.3s ease-in;
  animation: slideIn 0.4s alternate;
}

@keyframes slideIn {
  from {
    margin-top: -2vh
  }
  to {
    margin-top: 5vh
  }
}


@media screen and (max-width: 768px) {
  .container-modal {
    max-width: 90%;
    min-width: 90%;
  }
}

.container-modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between
}