.cardPartes {
  border: 1px solid #2196f355;
  background: #2196f311;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  color: #555;
}
.cardPartes i {
  position: absolute;
  right: 5px;
  top: 10px;
  margin-top: -2px;
  padding: 2px 5px;
  border-radius: 15px;
}
.cardPartes i:hover {
  background-color: #EEE;
}
.cardFile {
  border: 1px solid #2196f355;
  background-color: #2196f311;
  padding: 15px 10px;
  border-radius: 3px
}
.cardFile i {
  font-size: 14px;
  cursor: pointer;
}